name: CI Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-main-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-main-m2

    - name: Compile with Sanity checks
      run: mvn help:system -U -ntp --batch-mode --show-version --fail-at-end clean package
      env:
        MAVEN_OPTS: -Xmx2048m